.Title-img {
    width: 100%;
    margin-bottom: 0;
}






footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: grey;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-container img {
    width: 20%;
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(53, 52, 52);
    margin: 0 4%;

}