

#content {
    display: grid;
    grid-template-rows: 1fr 1frfr 1fr;
    align-items: center;
    text-align: center;
    
}



#hero-msg h4 {
    color: rgb(57, 57, 192);
}

#hero-msg h1 {
    color: black;
}


.image {
    width: 100%;

}

.article-box {
    margin: 20px;
    margin-top: -20px;
    color: black;

}




.footer-grid {
    width: 100%;
    text-align: center;
    background-color:rgb(57, 57, 192);
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    align-items: center;
}

.footer-grid p {
    grid-column: span 1;
    color: white;
}